.radio-inline {
    margin-right: 8px;
    margin-left: 8px;
}

.details {
    border: red 1px solid;
    border-radius: 26px;
    font-size: 13px;
    padding: 26px;
}

.new {
    margin: auto;
    display: block;
    margin-top: 26px;
}